{% extends 'registration_app/base.html' %}
{% load staticfiles %}

{% block content %}
  <div class="py-5  section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center">
          <img src="https://pingendo.com/assets/photos/user_placeholder.png" class="d-block mx-auto rounded-circle img-fluid my-3">
          <h3 class="text-center">{{ doctor.full_name }}</h3>
          <p class="text-center">{{ doctor.specialty }}</p>
        </div>
        <div class="col-md-6 text-left">
          {% for work_day in work_dates %}
          <div class="btn-group p-1">
            <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"> {{ work_day|date:'d.m.Y' }} </button>
            <div class="dropdown-menu">
              {% for key, value in dates_dict.items %}
              {% if key == work_day %}
              {% for work_time in value %}
              <a class="dropdown-item" href="{% url 'registration:record_list' id=doctor.id year=work_day|date:'Y' month=work_day|date:'m' day=work_day|date:'d' hour=work_time %}">{{ work_time }}:00</a>
              {% endfor %}
              {% endif %}
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
