{% extends 'registration_app/base.html' %}
{% load staticfiles %}

{% block content %}
  <div class="py-5  section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center">
          <img src="https://pingendo.com/assets/photos/user_placeholder.png" class="d-block mx-auto rounded-circle img-fluid my-3">
          <h3 class="text-center">{{ doctor.full_name }}</h3>
          <p class="text-center">{{ doctor.specialty }}</p>
        </div>
        <div class="col-md-6 text-left">
          <div class="btn-group p-1">
            <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"> 01.08.2017 г. </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">09:00</a>
              <a class="dropdown-item" href="#">10:00</a>
              <a class="dropdown-item" href="#">11:00</a>
              <a class="dropdown-item" href="#">12:00</a>
            </div>
          </div>
          <div class="btn-group p-1">
            <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"> 02.08.2017 г. </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">09:00</a>
              <a class="dropdown-item" href="#">10:00</a>
              <a class="dropdown-item" href="#">11:00</a>
              <a class="dropdown-item" href="#">12:00</a>
            </div>
          </div>
          <div class="btn-group p-1">
            <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"> 03.08.2017 г. </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">09:00</a>
              <a class="dropdown-item" href="#">10:00</a>
              <a class="dropdown-item" href="#">11:00</a>
              <a class="dropdown-item" href="#">12:00</a>
            </div>
          </div>
          <div class="btn-group p-1">
            <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"> 04.08.2017 г. </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">09:00</a>
              <a class="dropdown-item" href="#">10:00</a>
              <a class="dropdown-item" href="#">11:00</a>
              <a class="dropdown-item" href="#">12:00</a>
            </div>
          </div>
          <div class="btn-group p-1">
            <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"> 05.08.2017 г. </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">09:00</a>
              <a class="dropdown-item" href="#">10:00</a>
              <a class="dropdown-item" href="#">11:00</a>
              <a class="dropdown-item" href="#">12:00</a>
            </div>
          </div>
          <div class="btn-group p-1">
            <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"> 06.08.2017 г. </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">09:00</a>
              <a class="dropdown-item" href="#">10:00</a>
              <a class="dropdown-item" href="#">11:00</a>
              <a class="dropdown-item" href="#">12:00</a>
            </div>
          </div>
          <div class="btn-group p-1">
            <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"> 07.08.2017 г. </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">09:00</a>
              <a class="dropdown-item" href="#">10:00</a>
              <a class="dropdown-item" href="#">11:00</a>
              <a class="dropdown-item" href="#">12:00</a>
            </div>
          </div>
          <div class="btn-group p-1">
            <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"> 08.08.2017 г. </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">09:00</a>
              <a class="dropdown-item" href="#">10:00</a>
              <a class="dropdown-item" href="#">11:00</a>
              <a class="dropdown-item" href="#">12:00</a>
            </div>
          </div>
          <div class="btn-group p-1">
            <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"> 09.08.2017 г. </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">09:00</a>
              <a class="dropdown-item" href="#">10:00</a>
              <a class="dropdown-item" href="#">11:00</a>
              <a class="dropdown-item" href="#">12:00</a>
            </div>
          </div>
          <div class="btn-group p-1">
            <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"> 10.08.2017 г. </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">09:00</a>
              <a class="dropdown-item" href="#">10:00</a>
              <a class="dropdown-item" href="#">11:00</a>
              <a class="dropdown-item" href="#">12:00</a>
            </div>
          </div>
          <div class="btn-group p-1">
            <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"> 11.08.2017 г. </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">09:00</a>
              <a class="dropdown-item" href="#">10:00</a>
              <a class="dropdown-item" href="#">11:00</a>
              <a class="dropdown-item" href="#">12:00</a>
            </div>
          </div>
          <div class="btn-group p-1">
            <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"> 12.08.2017 г. </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">09:00</a>
              <a class="dropdown-item" href="#">10:00</a>
              <a class="dropdown-item" href="#">11:00</a>
              <a class="dropdown-item" href="#">12:00</a>
            </div>
          </div>
          <div class="btn-group p-1">
            <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"> 13.08.2017 г. </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">09:00</a>
              <a class="dropdown-item" href="#">10:00</a>
              <a class="dropdown-item" href="#">11:00</a>
              <a class="dropdown-item" href="#">12:00</a>
            </div>
          </div>
          <div class="btn-group p-1">
            <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"> 14.08.2017 г. </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">09:00</a>
              <a class="dropdown-item" href="#">10:00</a>
              <a class="dropdown-item" href="#">11:00</a>
              <a class="dropdown-item" href="#">12:00</a>
            </div>
          </div>
          <div class="btn-group p-1">
            <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"> 15.08.2017 г. </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">09:00</a>
              <a class="dropdown-item" href="#">10:00</a>
              <a class="dropdown-item" href="#">11:00</a>
              <a class="dropdown-item" href="#">12:00</a>
            </div>
          </div>
          <div class="btn-group p-1">
            <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"> 16.08.2017 г. </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">09:00</a>
              <a class="dropdown-item" href="#">10:00</a>
              <a class="dropdown-item" href="#">11:00</a>
              <a class="dropdown-item" href="#">12:00</a>
            </div>
          </div>
          <div class="btn-group p-1">
            <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"> 17.08.2017 г. </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">09:00</a>
              <a class="dropdown-item" href="#">10:00</a>
              <a class="dropdown-item" href="#">11:00</a>
              <a class="dropdown-item" href="#">12:00</a>
            </div>
          </div>
          <div class="btn-group p-1">
            <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"> 18.08.2017 г. </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">09:00</a>
              <a class="dropdown-item" href="#">10:00</a>
              <a class="dropdown-item" href="#">11:00</a>
              <a class="dropdown-item" href="#">12:00</a>
            </div>
          </div>
          <div class="btn-group p-1">
            <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"> 19.08.2017 г. </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">09:00</a>
              <a class="dropdown-item" href="#">10:00</a>
              <a class="dropdown-item" href="#">11:00</a>
              <a class="dropdown-item" href="#">12:00</a>
            </div>
          </div>
          <div class="btn-group p-1">
            <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"> 20.08.2017 г. </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">09:00</a>
              <a class="dropdown-item" href="#">10:00</a>
              <a class="dropdown-item" href="#">11:00</a>
              <a class="dropdown-item" href="#">12:00</a>
            </div>
          </div>
          <div class="btn-group p-1">
            <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"> 21.08.2017 г. </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">09:00</a>
              <a class="dropdown-item" href="#">10:00</a>
              <a class="dropdown-item" href="#">11:00</a>
              <a class="dropdown-item" href="#">12:00</a>
            </div>
          </div>
          <div class="btn-group p-1">
            <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"> 22.08.2017 г. </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">09:00</a>
              <a class="dropdown-item" href="#">10:00</a>
              <a class="dropdown-item" href="#">11:00</a>
              <a class="dropdown-item" href="#">12:00</a>
            </div>
          </div>
          <div class="btn-group p-1">
            <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"> 23.08.2017 г. </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">09:00</a>
              <a class="dropdown-item" href="#">10:00</a>
              <a class="dropdown-item" href="#">11:00</a>
              <a class="dropdown-item" href="#">12:00</a>
            </div>
          </div>
          <div class="btn-group p-1">
            <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"> 24.08.2017 г. </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">09:00</a>
              <a class="dropdown-item" href="#">10:00</a>
              <a class="dropdown-item" href="#">11:00</a>
              <a class="dropdown-item" href="#">12:00</a>
            </div>
          </div>
          <div class="btn-group p-1">
            <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"> 25.08.2017 г. </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">09:00</a>
              <a class="dropdown-item" href="#">10:00</a>
              <a class="dropdown-item" href="#">11:00</a>
              <a class="dropdown-item" href="#">12:00</a>
            </div>
          </div>
          <div class="btn-group p-1">
            <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"> 26.08.2017 г. </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">09:00</a>
              <a class="dropdown-item" href="#">10:00</a>
              <a class="dropdown-item" href="#">11:00</a>
              <a class="dropdown-item" href="#">12:00</a>
            </div>
          </div>
          <div class="btn-group p-1">
            <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"> 27.08.2017 г. </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">09:00</a>
              <a class="dropdown-item" href="#">10:00</a>
              <a class="dropdown-item" href="#">11:00</a>
              <a class="dropdown-item" href="#">12:00</a>
            </div>
          </div>
          <div class="btn-group p-1">
            <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"> 28.08.2017 г. </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">09:00</a>
              <a class="dropdown-item" href="#">10:00</a>
              <a class="dropdown-item" href="#">11:00</a>
              <a class="dropdown-item" href="#">12:00</a>
            </div>
          </div>
          <div class="btn-group p-1">
            <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"> 29.08.2017 г. </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">09:00</a>
              <a class="dropdown-item" href="#">10:00</a>
              <a class="dropdown-item" href="#">11:00</a>
              <a class="dropdown-item" href="#">12:00</a>
            </div>
          </div>
          <div class="btn-group p-1">
            <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"> 30.08.2017 г. </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">09:00</a>
              <a class="dropdown-item" href="#">10:00</a>
              <a class="dropdown-item" href="#">11:00</a>
              <a class="dropdown-item" href="#">12:00</a>
            </div>
          </div>
          <div class="btn-group p-1">
            <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"> 31.08.2017 г. </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">09:00</a>
              <a class="dropdown-item" href="#">10:00</a>
              <a class="dropdown-item" href="#">11:00</a>
              <a class="dropdown-item" href="#">12:00</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
